*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #222c2a;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: clamp(2rem, 5vw, 3.75rem);
  line-height: 1.2em;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  margin-bottom: 1em;
}

h3 {
  font-size: clamp(0.8rem, 4vw, 1.125rem);
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-bottom: 1rem;
}

p {
  letter-spacing: 0.01em;
  line-height: 1.5em;
}

.break {
  display: none;
}

.accent-color {
  color: #824936;
}

.light-color {
  color: #f3eed9;
}

.centered {
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  background-color: #f3eed9;
  padding: 10em 0;
  text-align: center;
}

section {
  padding: 5em 0;
}

section img {
  width: 100%;
}

.section-two {
  background-color: #222c2a;
  color: white;
}

.section-three {
  background-color: #824936;
  color: white;
}

@media (min-width: 600px) {
  .break {
    display: block;
  }

  .text-center {
    text-align: center;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }
  .col {
    width: 47%;
  }
}
